name: Cargo Publish ckb-mock-tx-types

on:
  push:
    tags:
      - 'ckb-mock-tx-types-v*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Publish
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      run: cd ckb-mock-tx-types && cargo publish
