name: Cargo Publish spike-sys

on:
  push:
    tags:
      - 'spike-sys-v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Steup Device Tree Compiler
      run: |
        sudo apt install device-tree-compiler
    - name: Publish
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      run: cd spike-sys && cargo publish
