name: spike-sys

on:
  pull_request:
    branches: [ main ]
    paths: "spike-sys/**"
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: |
        sudo apt install device-tree-compiler
        cd spike-sys
        bash build.sh
        cargo build
